<div class="flex flex-col justify-center items-center bg-bluegray-600 bg-cover w-full h-full">
    <h1 class="text-white font-bold text-md lg:text-lg text-center">Hello, my name is Joel Quey Rui Quan.</h1>
    <h2 class="text-white text-md lg:text-lg text-center">I am a full-stack web and game developer.</h2>
    <nav class="px-4 py-2">
        <ul class="flex flex-row justify-center items-center">
          <li>
            <a class="px-3 py-2 flex hover:opacity-75" target="_blank" href="https://github.com/Joelqrq/">
              <i class="fab fa-github text-3xl text-white opacity-80"></i>
            </a>
          </li>
          <li>
            <span class="hidden sm:block text-white text-xs lg:text-sm text-left font-sans">|</span>
          </li>
          <li>
            <a class="px-3 py-2 flex hover:opacity-75" target="_blank" href="https://joelquey.itch.io/">
              <i class="fab fa-itch-io text-3xl text-white opacity-80"></i>
            </a>
          </li>
        </ul>
      </nav>
</div>